.books{
    
    width: 100%;
    background: url('../images/bg-img-4.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -10000;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.main-con{
    display: flex;
    gap: 20px;
    
}
.books-header{
    font-size: 50px;
    color: white;
    /* text-align: center; */
}



.books .book-card {
margin: 40px 0px 0px;
padding: 10px 0px;
width: 40vw;
height:auto;
backdrop-filter: blur(10px);

/* display: flex;
gap: 20px; */
background-image: linear-gradient(to right, #4343432d 0%, rgba(0, 0, 0, 0.616) 100%);
border-radius: 15px;

transition: transform .4s ease-out;
/* color: white; */
}

.books .book-card:hover {
    transform: scale(1.04) ;
    box-shadow: 1px 1px 25px 2px rgba(203, 203, 21, 0.889);
}


.books .book-card img{
    height: 30vh;
    width: 15vw;
    margin: 30px;
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.856);
    border-radius: 15px;

    
}

.books .book-card .card-con {
    color: rgb(255, 255, 255);
    padding-left: 30px;
    border-left: 1px solid yellow;

}


.books .book-card .card-con h2 {
    margin: 20px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: yellow;
    
}

.books .book-card .card-con h4 {
    margin: 20px 0px;
    text-align: left;
    font-size:15px
}


.books .book-card .buttons{

    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
}

.books .book-card .buttons button{

    width: 12vw;
    height: 5vh;
    font-size:16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   
}
.books .book-card .buttons button:active{

    background-color: rgba(255, 251, 0, 0.801);
}





