.home{
    height: 90vh;
    width: 100%;
    background: url('../images/bg-img-4.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10000;
    position: relative;
    top: 0;
    left: 0;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.home-con{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50vh;
    justify-content: center;
    align-items: center; 
    position: relative;
    top: 20%;
    left: 20%;
    /* margin-top: 9%; */
}

.home-con h1{
    font-size: 100px;
    /* text-shadow: 1px 1px 10px  rgb(255, 238, 0); */
    color : #F4CE14;
    letter-spacing: 4px;
    border-bottom:1px solid rgb(255, 238, 0);


}

.home-con p{
  text-align:center; 
  line-height: 25px;
  font-weight: 500;
  font-size: 22px;
  text-shadow: px 0px 30px  rgb(0, 0, 0);
    color : #850F8D;
    border-top: 2px solid black;
    /* border-bottom: 1px solid black; */
    line-height: 28px;

  /* margin-top: 30px;  */
}

.home .chat-logo{
    font-size: 24px;
    width: 220px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-image: linear-gradient(-225deg, #fffefff1 0%, #a8ffff 100%);
    border-radius: 50px;
    padding: 12px 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
}

.home .chat-con {
    font-size: 24px;
    width: 220px;
    height: auto;
    position: fixed;
    bottom: 200px;
    right: 50px;
    background-image: linear-gradient(-225deg, #fffefff1 0%, #a8ffff 100%);
    border-radius: 20px;
    padding: 12px 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    visibility: hidden;
}

.home .chat-con input{
    font-size: 24px;
    width: 150px;
    height: 40px;
    position: relative;
    border-radius: 10px;
    padding: 12px 20px;
    color: rgb(0, 0, 0);
    /* visibility: hidden; */
}




