.users-con{
    display: flex;
    justify-content: center;
    background: url("../images/bg-img-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

}
.users {
    margin: 80px 0px;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 30px ;
    background-color:rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(3px);



}
.users tr th{
    font-weight: bold;
    font-size:20px;
    color: #ffee00ea;
    text-align: center;



}
 
.users td{
    padding: 15px 40px;
    color: #ffffff;
    text-align:left;



}

